public static void ALta() {
    Integer nID = 0, nPaciente = 0, nDoctor = 0;
    String sMotivo = "", dCita = null, hCita = 0;
    try{
       System.out.println("\n                   Alta de un cliente\n");
       System.out.println("Favor de proporcionar un paciente:  ");
       nPaciente = Integer.parseInt(dataCitas.readline().toString().trim());
       System.out.println(Favor de proporcionar un Doctor:  ");
       nDoctor = Integer.parseint(dataCitas.readline().toString().trim());
       System.out.println("Favor de proporcionar un Motivo de la cita:  ");
       sMotivo = dataCitas.readline().toString().trim());
       System.out.println("Favor de proporcionar la fecha de la cita:  ");
       dCita = dataCitas.readline().toString().trim());
       System.out.println("Favor de proporcionar la hora de la cita:  ");
       hCita = dataCitas.readline().toString().trim());
       
       nID = Citas.size() +1;
       Citas.put(nID, new EvidenciasFinal_Citas(nPasiente, nDoctor, sMotivo, dCita, hCita));
       save();
       System.out.println("\n\nGuardado correctamente, Presione ENTER para continuar"));
       dataCitas.readline();
    }
    catch (Exception ex){
        System.out.println("¡¡ ERROR !!" + ex.getMessage());
        }
    }
}
public static void Borrar () [...]

package edu.TecMilenio;

import java.io.BufferedReader;
import java.io.IOException;
impirt java.io.ImputStreamReader;
import java.io.console;

public class Evidencia Final {
    private static BufferedReader dataCapturaCitas = new BufferedReader(new ImputStreamReader(Sytem.in));
    
    private static String getUserName(String promt){...}
    
    private static String getPassword(String promt){...}
    private static class ConsoleEraser extends Thread {...}
    
    public static void ValidaUsuario() {...}
    
    private static void CredenicalesIncorrectas(String sMensaje) {...}
    
    private static void MuestraMenuAplicacion(){...}
}




